#user-registration {
    width: 100%;
    height: 100vh;
    background: rgb(47,66,80);
    background: linear-gradient(29deg, rgba(47,66,80,1) 5%, rgba(55,56,48,1) 44%, rgba(150,89,53,1) 100%, rgba(123,98,64,1) 100%);
    position: relative;

    .wrapper {
        color: $font-primary-color;
        position: absolute;
        width: 40%;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(0, 0, 0, .2);
        padding: 20px;
        border-radius: 10px;

        .row {
            margin: 5px auto;
            .first-row {
                text-align: right;
            }

            .second-row {
                input[type=text],
                input[type=password],
                input[type=email] {
                    width: 100%;
                    background: #6D6D6D;
                    border: none;
                }
            } 
        }

        p {
            font-size: calc(5px + .35vw);
            text-align: center;
        }

        input[type=submit] {
            display: block;
            margin: auto;
            font-size: calc(12px + .5vw);
            padding: 5px calc(15px + 2vw);
            background: $button-bg-color;
            color: $font-primary-color;
            border: none;
            border-radius: 5px;
        }

        .icon-google {
            display: inline-block;
            margin: 0 20px;
        }

        .google-login {
            background: #CF4332;
            border: none;
            color: $font-primary-color;
            font-size: calc(12px + .5vw);
            margin: auto;
            display: block;
            line-height: 45px;
            border-radius: 10px;
            padding-right: 20px;
        }

        .twitch-login {
            background: #8000ff;
            border: none;
            color: $font-primary-color;
            font-size: calc(12px + .5vw);
            margin: auto;
            display: block;
            line-height: 45px;
            padding-right: 20px;
        }

        /* Twitch Sign Up */
        .SignBtn {
            box-sizing: border-box;
            position: relative;
            /* width: 13em;  - apply for fixed size */
            margin: auto;
            padding: 0 15px 0 46px;
            border: none;
            text-align: left;
            line-height: 34px;
            white-space: nowrap;
            border-radius: 5px;
            font-size: calc(12px + .5vw);
            color: $font-primary-color;
            display: block;
        }
        .SignBtn:before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            width: 34px;
            height: 100%;
        }
        .SignBtn:focus {
            outline: none;
        }
        .SignBtn:active {
            box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
        }
        
        .SignBtn--twitch {
            background-color: #8000ff;
            background-image: linear-gradient(#8000ff, #8000ff);
            /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
            text-shadow: 0 -1px 0 #8000ff;
        }
        .SignBtn--twitch:before {
            border-right: #5a02b3 1px solid;
            background: url('/images/twitch-icon.png') 6px 6px no-repeat;
            background-color: #5a02b3;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            background-size: 20px;
        }
        .SignBtn--twitch:hover,
        .SignBtn--twitch:focus {
            background-color: #8000ff;
            background-image: linear-gradient(#8000ff, #8000ff);
        } 
    }
 }