
$black: rgb(219, 0, 0);
$dropdown-spacer: 0.2rem;
$dropdown-color: rgb(85, 85, 85);
$dropdown-bg: rgb(204, 204, 204);
$dropdown-border-color: rgb(209, 0, 0);
$card-color: rgb(37, 2, 2);
$card-bg: rgba(78, 71, 71, 0.78);