#featured-content {
    overflow: hidden;
    width: 100%;
    height: 85vh;
    background: rgb(47,66,80);
    background: linear-gradient(29deg, rgba(47,66,80,1) 5%, rgba(55,56,48,1) 44%, rgba(150,89,53,1) 100%, rgba(123,98,64,1) 100%);
    position: relative;
    z-index: 1;

    .content {
        width: 100%;
        position: relative;
        height: 85vh;
        left: 50%; top: 65%;
        transform: translate(-50%, -50%);
        text-align: center;

        h2{
            font-size: 5em;
            color: #FFFFFF;
            margin-bottom: -0.5em;
        }

        @media only screen and (max-width: 600px) {
                h2{
                font-size: 4em;
                color: #FFFFFF;
                margin-bottom: 0px;
                }
        }
        
        .slick-initialized .slick-slide  > div {
          transition: all 0.3s !important;
      
        }
        
        .slick-slide > div {
            position: relative;
            z-index: 1;
            transform: scale(.7);
            cursor: pointer;
          
            // margin-right: -5em;
            // margin-left: -5em;
            // transition: transform 1s cubic-bezier(.4,0,.2,1) ;        
        }
        .slick-center > div {
            transform: scale(0.99);
            // background: rgb(200, 1, 226) !important;
            z-index: 9 !important;
            opacity: 1 !important;
            // mask-image: linear-gradient(to top, transparent 0%, black 20%);
            transition: all 1s !important;

        }
          .slick-active > div { //kiri
            // mask-image: linear-gradient(to top, transparent 5%, black 20%);
            transition: all 1s !important; //effect
            transform: scale(1);            
            z-index: 2;
            opacity: 0.5 !important;
            padding-top: 4em;
            padding-left: 15em;
          }
        
         

          .slick-active + .slick-active > div { // tengah
            // background: blue;
            // mask-image: linear-gradient(to top, transparent 5%, black 20%);
            transform: scale(1);
            z-index: 4;
            opacity:  1 !important;    
            transition: all 1s !important;
            padding-top: 0em;
            padding-left: 0em;   
            }

          .slick-active + .slick-active + .slick-active > div { // kanan
            // background: pink;
            // mask-image: linear-gradient(to top, transparent 5%, black 20%);
            transform: scale(1);
            z-index: 1;
            opacity: 0.5 !important; 
            padding-top: 4em;
            padding-right: 15em;
          }

          .slick-slide > div {
            // mask-image: linear-gradient(to top, transparent 5%, black 20%);
            z-index: 1;
            opacity: 0.5 !important;   
            
          }

          .slick-slide + .slick-active > div {
            // mask-image: linear-gradient(to top, transparent 5%, black 20%);
            z-index: 1;
            margin-left: -4em;
            margin-right: -4em; 
          }

          .slick-cloned > div {
            // background: yellow;
            // mask-image: linear-gradient(to top, transparent 5%, black 20%);
            z-index: 2;
            opacity: 0.5 !important; 
          }
        
          .slick-dots li button:before {
            color: rgb(255, 255, 255);
          }

          .slick-dots li button:hover:before {
            color: rgb(153, 153, 153);
          }

        .slider {
            position: relative;
            margin-top: 5vh;
            margin-left: auto;
            margin-right: auto;
            width: 100%;

            .videoWrapper {
              text-align : center;
              position: relative;
              padding-bottom: 56.25%; /* 16:9 */
              padding-top: 25px;
              height: 0;
            }

          
            .videoWrapper iframe {
              position: absolute;
              border-radius: 0.5em;
              top: 0;
              left: 0;
              box-shadow: 0px 3px 10px -1.5px #2e2e2e !important;
              width: 100%;
              height: 100%;
            }

            .slide-content {
                display: inline-block;
                width: 0%;


                img {
                    width: 100%;
                }
                @media only screen and (max-width: 600px) {

                }
            }

            .slide-content.center {
                transform: scale(1.4);
                z-index: 5;
                // mask-image: linear-gradient(to left, rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0));                
            }

            .slide-content.left {
                // mask-image: linear-gradient(to left, rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0));                
                mask-image: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0));                                
            }

            .slide-content.right {
                // mask-image: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0));
                mask-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));                                                
            }
        }
    }

    .icon-arrow-down {
        font-size: 6em;
        color: #FFFFFF;
        text-align: center;
        display: block;
        width: 100%;
        margin-top: 50px;
        cursor: pointer;
    }

    .arrow {
      content: "";
      border-bottom-width: 4px;
      border-right-width: 4px;
      margin-left: auto;
      margin-right: auto;
      margin-top: -6em;
      box-sizing: 2px;
      height: 2vw;
      width: 2vw;
      border-style: solid;
      border-color: white;
      border-width: 0px 0.45em 0.45em 0px;
      border-radius: 0.1em;
      transform: rotate(45deg);
      // transition: border-width 150ms ease-in-out;
      transition: all 0.3s;
    }
    
    .arrow:hover {
      content: "";
      border-width: 0px 0.35em 0.35em 0px;
      border-color: #101010;
      outline: none;
    }

    a:active, a:focus {
      outline: 0;
      border: none;
      -moz-outline-style: none;
    }
    
    @media only screen and (max-width: 600px) {
        .icon-arrow-down{
            font-size: 6em;
            color: #FFFFFF;
            text-align: center;
            display: block;
            width: 100%;
            cursor: pointer;
            margin-top: -105px;
        }
    }
}

.slick-next {
  position: absolute;
  z-index: 99;
}
.slick-next:before {
  content: "»";
  font-size: calc(2vw + 1vh + .5vmin);
  position: relative;
  z-index: 99 !important;
  left: -1.5em;
  top: -0.5em;
  transition: all 0.3s;
  opacity: 0.8;
}
.slick-next:hover:before {
  content: "»";
  font-size: calc(2vw + 1vh + .5vmin);
  position: relative;
  z-index: 99 !important;
  left: -1.42em;
  color: #101010;
  opacity: 1;
}

.slick-prev {
  position: absolute;
  z-index: 99;
  text-align: center;
}
.slick-prev:before {
  content: "«";
  font-size: calc(2vw + 1vh + 0.5vmin);
  position: relative;
  z-index: 99 !important;
  right: -1.5em;
  top: -0.5em;
  transition: all 0.3s;
  // background: yellow;
  opacity: 0.8;
}
.slick-prev:hover:before {
  content: "«";
  font-size: calc(2vw + 1vh + .5vmin);
  position: relative;
  z-index: 99 !important;
  right: -1.42em;
  color: #101010;
  opacity: 1;
}



